<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Bros App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>How we can help you? _</h1>
        <form method="POST">
            <input type="text" placeholder="Ask me something?" id="request_form" name="request">
            <input type="submit" value="Ask">
        </form>
        <p>{{ answer }}</p>
    </div>
</body>
</html>